[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"
black = "*"
mypy = "*"
pylint = "*"

[requires]
python_version = "3.6"
